<div class="container mt-5">
  <h2 class="text-center">Shopping List</h2>
  <div class="container w-75 mt-5 d-flex justify-content-between">
    <h4>Amount of food items to buy: <%= @total_food_items %></h4>
    <h4>Total value of food needed: $<%= @total_cost %></h4>
  </div>
   <table class="table table-striped table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |key,value| %>
        <%= render partial: "shared/shopping_item", locals: { food: Food.find(key), quantity: value } %>
      <% end %>
    </tbody>
  </table>
</div>