<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$ <%= food.price %></td>
  <% if  can? :destroy, food %>
    <td><%= button_to 'Delete', food_path(food.id), class: "btn btn-danger px-3", method: :delete %></td>
  <% end %>
</tr>