<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item btn btn-light">
          Home
        </li>
      </ul>
      <div class="d-flex flex-row">
        <ul>
          <li class="btn btn-dark">Sign up</li>
          <li class="btn btn-light">Sign in</li>
        </ul>
        <div class="nav-item dropdown">
          <span class="nav-link dropdown-toggle text-dark" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</span>
          <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
            <li>Foods</li>
            <li>Recipes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>