<li class=" border bg-primary p-3">
  <%= link_to recipe_path(recipe.id), class: "row recipe" do %>
    <h3 class="col-3"> <%= recipe.name %> </h3>
    <p class="col-9">  <%= recipe.description %>  </p>
  <% end %>
  <%= button_to "Remove", "/recipes/#{recipe.id}", class: "btn btn-danger px-3", method: :delete %>
</li>


