<tr>
  <td><%= food.name %></td>
  <td><%= "#{food.recipe_foods.first.quantity} #{food.measurement_unit}" %></td>
  <td><%= "$ #{food.price}" %></td>
  <td>
    <a href="#">Modify</a>
    <a href="#">Remove</a>
  </td>
</tr>